.container {
    padding-block-start: 20px;
    padding-inline: 16px;
    width: 100%;
    margin: auto; 
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight:lighter;
    font-style:normal;
    font-size: 16px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.bundler{
    display: flex;
    flex-direction: column;
    gap: 36px ;
}

.divider{
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    border-top: 2px solid var(--theme-clr-dark);
    border-radius: 20px;
}

@media (min-width: 768px ){
   

    .container{
       padding-block-start: 24px;
       padding-inline: 24px;
    }

    .material-symbols-outlined{
        font-size: 20px;
    }

    .bundler{
        flex-direction: row;
        gap: 28px;
    }

    .divider{
        display: none;
    }

}
@media (min-width: 1024px ){
    .container{
        padding-block-start: 28px;
        padding-inline: 32px;
    }

    .bundler{
        gap: 32px;
    }

}


